<header>
    <p class="header-item"><a href="/">Home</a></p>
    <p class="header-item"><a href="/books">Books</a></p>
    <p class="header-item"><a href="/genres">Genres</a></p>
    <form class="header-item" action="/books" method="GET">
        <div id="form-inner-container">
            <div id="form-label-input">
                <label for="">Search by name</label>
                <div>
                    <input name="search" type="text">
                    <button type="submit">Search</button>
                </div>
            </div>
        </div>
    </form>
</header>