<header>
    <h1>Header stuff</h1>
    <form action="" method="">
        <div>
            <label for="">Search by name</label>
            <input name="search" type="text">
        </div>
        <button type="submit">Send</button>
    </form>
</header>