<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
</head>
<body>
    <%- include("partials/header") %>
    <div id="homepage-main-content">
        <h2>Welcome to the Homepage</h2>
        <p>This is a book register where you can view, create and search books by different metrics</p>
    </div>
    <%- include("partials/footer") %>
</body>
</html>