<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Homepage</title>
</head>
<body>
    <%- include("partials/header") %>
    <h2>Welcome to the Homepage</h2>
    <p><a href="/books">Show all books</a></p>
</body>
</html>