* {
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #e5e5e5;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #14213d;
    color: gold;

}

footer {
    background-color: #14213d;
    color: gold;
    margin-top: auto;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    max-width: 5rem;
}

a {
    color: white;
    text-decoration: none;
}

button {
    width: 5rem;
    height: 1.2rem;
    border: none;
    border-radius: 8px;
    background-color: gold;
}

button:hover {
    background-color: white;
    cursor: pointer;
}

.header-item  {
    margin-right: 1rem;
}

#form-inner-container {
    display: flex;
}

#form-label-input {
    display: flex;
    flex-direction: column;
}

#homepage-main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

/*genres.ejs*/
#genres-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}

.genre-div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: #14213d;
    width: 9rem;
    margin-top: 0.5rem;
    aspect-ratio: 12/3;
    border-radius: 7px;
}

/*books.ejs*/

#books-page-main-content {
    display: flex;
    height: 100%;
}

#left-sidebar {
    background-color: #14213d;
    min-width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#left-sidebar button {
    margin-top: 1rem;
}

/*div {
    border: 1px solid red;
}*/

#books-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.book {
    width: 15rem;
    aspect-ratio: 6/4;
    border-radius: 15px;
    background-color: #14213d;
    color: gold;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/*book.ejs*/
#book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#book {
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #14213d;
}

#book > * {
    margin-bottom: 0.5rem;
}

